@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: Druk;
  font-display: swap;
  src: url("../fonts/Druk-WideMedium.woff2") format("woff2"), url("../fonts/Druk-WideMedium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class*=_icon-]::after {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-logo3::after {
  content: "\e922";
}

._icon-Polygon3::after {
  content: "\e923";
}

._icon-Vector-arrow3::after {
  content: "\e924";
}

._icon-Vector-arrowdown3::after {
  content: "\e925";
}

._icon-Vector-bow3::after {
  content: "\e926";
}

._icon-Vector-circle3::after {
  content: "\e927";
}

._icon-Vector-circlearrow1::after {
  content: "\e928";
}

._icon-Vector-column3::after {
  content: "\e929";
}

._icon-Vector-columntwo3::after {
  content: "\e92a";
}

._icon-Vector-fire3::after {
  content: "\e92b";
}

._icon-Vector-heart3::after {
  content: "\e92c";
}

._icon-Vector-heartbig3::after {
  content: "\e92d";
}

._icon-Vector-lightning3::after {
  content: "\e92e";
}

._icon-Vector-star3::after {
  content: "\e92f";
}

._icon-Vector-twocircle3::after {
  content: "\e930";
}

._icon-Vector-uparrow3::after {
  content: "\e931";
}

._icon-Vector-wedge3::after {
  content: "\e932";
}

._icon-Vector-wheel3::after {
  content: "\e933";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

svg {
  height: 1em;
  width: 1em;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 121.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.button._fw {
  width: 100%;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-family: "Druk";
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #ffffff;
}

.title_small {
  line-height: 5.875rem;
}

.header {
  width: 100%;
  position: fixed;
  padding: 0.625rem 0.625rem;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(31, 35, 38, 0.9);
  border-radius: 4px 4px 0 0;
}

.header__content {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 13.75rem 1fr 10.625rem;
  grid-template-columns: 13.75rem 1fr 10.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  max-width: 100%;
  border-right: 0.125rem solid #fff;
}

.header__icon {
  font-size: 2.875rem;
  color: #FFFFFF;
}

.menu__body {
  padding: 0 0.625rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  position: relative;
}

.menu__item:hover .submenu__list {
  display: block;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-right: 0.8125rem;
}

.menu__link:hover {
  color: #f28080;
}

.menu__link::after {
  font-size: 0.4375rem;
}

.submenu__list {
  display: none;
  position: absolute;
  background-color: #33373a;
  padding: 0.625rem 0;
  width: 150%;
  top: 100%;
  z-index: 2;
}

.submenu__link {
  padding: 0.3125rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  text-align: center;
  color: #FFFFFF;
}

.submenu__link:hover {
  color: #f28080;
}

.action {
  position: relative;
  z-index: 5;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.action__avatar {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.action__image {
  max-width: 100%;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.action__item {
  position: relative;
}

.action__item:hover .submenu__list {
  display: block;
}

.action__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

.action__link:hover {
  color: #f28080;
}

.action__link::after {
  font-size: 0.4375rem;
}

.icon-menu {
  display: none;
}

.footer {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 8.4375rem;
  background-color: #1F2326;
}

.wrapper {
  background-color: #FF4656;
}

.no-webp .page__main{
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 70, 86, 0.8)), to(rgba(214, 59, 72, 0.8))), url("../img/header-bg/image-title.png") 50%/cover no-repeat; }

.no-webp .page__main{
  background: -o-linear-gradient(top, rgba(255, 70, 86, 0.8) 0%, rgba(214, 59, 72, 0.8) 100%), url("../img/header-bg/image-title.png") 50%/cover no-repeat; }

.no-webp .page__main{
  background: linear-gradient(180deg, rgba(255, 70, 86, 0.8) 0%, rgba(214, 59, 72, 0.8) 100%), url("../img/header-bg/image-title.png") 50%/cover no-repeat; }

.block-page__content {
  position: relative;
  z-index: 5;
  max-width: 63.75rem;
  padding: 0 0.625rem;
}

.block-page__title {
  text-align: center;
}

.title_small {
  text-align: start;
}

.body-slide-block {
  position: relative;
  margin: 0 auto;
  background-color: #1F2326;
  border: 2px solid #1F2326;
  border-radius: 0.625rem 0 0 0;
  padding-left: 0.625rem;
}

.body-slide-block__header {
  position: absolute;
  -webkit-transform: translate(-47%, 170%) rotate(90deg);
      -ms-transform: translate(-47%, 170%) rotate(90deg);
          transform: translate(-47%, 170%) rotate(90deg);
  z-index: 3;
}

.body-slide-block__picture {
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.body-slide-block__picture img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.heder-body-slide__name {
  font-family: "Druk";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.9375rem;
  letter-spacing: 0.1em;
  color: #FF4656;
}

.item-body-slide {
  position: absolute;
  z-index: 3;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding-top: 1.1875rem;
  padding-bottom: 1.1875rem;
  background-color: #1F2326;
  border: 0.125rem solid #F8F8F8;
  -webkit-box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
  -webkit-transform: translate(5%, 25%);
      -ms-transform: translate(5%, 25%);
          transform: translate(5%, 25%);
}

.item-body-slide__icone {
  display: inline-block;
  color: #fff;
  cursor: pointer;
}

.item-body-slide__icone:hover {
  color: #FF4656;
}

.block-page__arrows {
  position: relative;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  -webkit-transform: translate(0, -220%);
      -ms-transform: translate(0, -220%);
          transform: translate(0, -220%);
}

.block-page__arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.5rem;
          flex: 0 0 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5rem;
  background-color: #C4C4C4;
  border-radius: 0.625rem 0 0 0;
  border: 0.0625rem solid #1F2326;
  font-size: 1rem;
  color: #1F2326;
}

.block-page__arrow:hover {
  background-color: #1F2326;
  color: #C4C4C4;
  border: 0.0625rem solid #C4C4C4;
}

.block-page__arrow:first-child {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.block-page__arrow:last-child {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.column-block__wrapper {
  margin: 0 auto;
}

.item-slide {
  margin: 0 auto;
  background-color: #F8F8F8;
  border: 0.125rem solid #1F2326;
  -webkit-box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
  max-width: 45.25rem;
  border-radius: 0.625rem 0 0 0;
  padding: 1.9375rem 4.5rem 1.9375rem 3.625rem;
}

.item-slide__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 2.5rem;
}

.item-slide__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20rem;
          flex: 0 1 20rem;
}

.item-slide__picture {
  background-color: #FF4656;
  padding: 1.25rem 1.25rem 0 1.25rem;
  border-radius: 0.625rem 0 0 0;
  border: 0.0625rem solid #1F2326;
  color: #1F2326;
}

.item-slide__picture:hover {
  color: #F8F8F8;
  background-color: #1F2326;
}

.content-item__title {
  font-family: "Druk";
  font-weight: 500;
  line-height: 1.3;
  /* 52/40 */
  color: #C4C4C4;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.content-item__title:hover {
  color: #FF4656;
}

.content-item__subtitle {
  font-family: "Druk";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.29;
  /* 31/24 */
  color: #000000;
  margin-bottom: 2rem;
}

.content-item__text {
  max-width: 20rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  /* 20/16 */
  letter-spacing: 0.1em;
  color: #1F2326;
}

.column-block__arrows {
  position: relative;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.125rem;
  -webkit-transform: translate(0, -180%);
      -ms-transform: translate(0, -180%);
          transform: translate(0, -180%);
}

.column-block__arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.5rem;
          flex: 0 0 2.5rem;
  height: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #C4C4C4;
  border-radius: 0.625rem 0 0 0;
  border: 0.0625rem solid #1F2326;
  font-size: 1rem;
  color: #1F2326;
}

.column-block__arrow:hover {
  background-color: #1F2326;
  color: #C4C4C4;
  border: 0.0625rem solid #C4C4C4;
}

.column-block__arrow:first-child {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.column-block__arrow:last-child {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 61.99875em) {
  .block-page__content {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(-30%, 270%) rotate(90deg);
        -ms-transform: translate(-30%, 270%) rotate(90deg);
            transform: translate(-30%, 270%) rotate(90deg);
  }

  .body-slide-block {
    margin: 3.75rem 0 8.75rem 15.625rem;
  }
}

@media (min-width: 121.875em) {
  .title {
    font-size: 9.75rem;
  }

  .title {
    line-height: 12.75rem;
  }

  .title_small {
    font-size: 4.5rem;
  }

  .title_small {
    line-height: 5.875rem;
  }

  .block-page {
    padding-top: 5.625rem;
  }

  .block-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 0;
  }

  .block-page__container {
    margin-bottom: 6.25rem;
  }

  .block-page__content {
    margin-bottom: 3.75rem;
  }

  .body-slide-block {
    width: 27.5rem;
  }

  .body-slide-block {
    height: 61.875rem;
  }

  .body-slide-block__picture {
    width: 27.5rem;
  }

  .body-slide-block__picture {
    height: 61.875rem;
  }

  .item-body-slide {
    width: 27.5rem;
  }

  .item-body-slide {
    padding-left: 2.625rem;
  }

  .item-body-slide {
    padding-right: 2.625rem;
  }

  .item-body-slide__icone {
    font-size: 2.8125rem;
  }

  .column-block__wrapper {
    padding-bottom: 7.5rem;
  }

  .item-slide__picture {
    font-size: 10rem;
  }

  .content-item__title {
    font-size: 2.5rem;
  }
}

@media (min-width: 120em) {
  .header__logo img {
    padding-right: 3.75rem;
  }

  .header__icon {
    padding-left: 3.75rem;
  }

  .menu__list {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 2.5rem;
  }

  .title {
    line-height: 7.5rem;
  }

  .title_small {
    font-size: 2.25rem;
  }

  .title_small {
    line-height: 2.5rem;
  }

  .block-page {
    padding-top: 9.375rem;
  }

  .block-page__container {
    margin-bottom: 3.125rem;
  }

  .block-page__content {
    margin-bottom: 1.875rem;
  }

  .body-slide-block {
    width: 16.25rem;
  }

  .body-slide-block {
    height: 27.5rem;
  }

  .body-slide-block__picture {
    width: 16.25rem;
  }

  .body-slide-block__picture {
    height: 27.5rem;
  }

  .item-body-slide {
    width: 16.25rem;
  }

  .item-body-slide {
    padding-left: 0.625rem;
  }

  .item-body-slide {
    padding-right: 0.625rem;
  }

  .item-body-slide__icone {
    font-size: 1.75rem;
  }

  .column-block__wrapper {
    padding-bottom: 3.125rem;
  }

  .item-slide__picture {
    font-size: 6.25rem;
  }

  .content-item__title {
    font-size: 1.75rem;
  }
}

@media (max-width: 61.99875em) {
  .header__content {
    -ms-grid-columns: 12.5rem 1fr 12.5rem;
    grid-template-columns: 12.5rem 1fr 12.5rem;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background-color: #000;
    padding: 9.375rem 0.9375rem 1.875rem 0.9375rem;
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    background-color: #000;
    top: 0;
    left: -100%;
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #FFFFFF;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .body-slide-block__header {
    -webkit-transform: translate(-47%, 190%) rotate(90deg);
        -ms-transform: translate(-47%, 190%) rotate(90deg);
            transform: translate(-47%, 190%) rotate(90deg);
  }

  .block-page__arrows {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transform: translate(0, -320%);
        -ms-transform: translate(0, -320%);
            transform: translate(0, -320%);
  }

  .column-block__arrows {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transform: translate(0, -500%);
        -ms-transform: translate(0, -500%);
            transform: translate(0, -500%);
  }
}

@media (max-width: 61.9375em) {
  .header__logo img {
    padding-right: 0.625rem;
  }

  .header__icon {
    padding-left: 0.625rem;
  }

  .menu__list {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }
}

@media (max-width: 61.99875em) and (max-width: 20em) {
  .menu__body::before {
    min-height: 9.375rem;
  }
}

@media (max-width: 61.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) {
  .body-slide-block__header {
    -webkit-transform: translate(-47%, 175%) rotate(90deg);
        -ms-transform: translate(-47%, 175%) rotate(90deg);
            transform: translate(-47%, 175%) rotate(90deg);
  }
}

@media (max-width: 37.5em) {
  .item-slide__body {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media (max-width: 29.99875em) {
  .header__content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 1.25rem;
  }

  .header__logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .action {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .body-slide-block__header {
    -webkit-transform: translate(-45%, 155%) rotate(90deg);
        -ms-transform: translate(-45%, 155%) rotate(90deg);
            transform: translate(-45%, 155%) rotate(90deg);
  }

  .heder-body-slide__name {
    font-size: 1.25rem;
  }

  .item-slide {
    padding-left: 0.625rem;
  }

  .column-block__arrows {
    -webkit-transform: translate(0, -300%);
        -ms-transform: translate(0, -300%);
            transform: translate(0, -300%);
  }
}

@media (min-width: 20em) and (max-width: 121.875em) {
@supports (font-size: clamp( 2.5rem , 1.0766871166rem  +  7.1165644172vw , 9.75rem )) {
    .title {
      font-size: clamp( 2.5rem , 1.0766871166rem  +  7.1165644172vw , 9.75rem );
    }
}

@supports not (font-size: clamp( 2.5rem , 1.0766871166rem  +  7.1165644172vw , 9.75rem )) {
    .title {
      font-size: calc(2.5rem + 7.25 * (100vw - 20rem) / 101.875);
    }
}

@supports (line-height: clamp( 7.5rem , 6.4693251534rem  +  5.1533742331vw , 12.75rem )) {
    .title {
      line-height: clamp( 7.5rem , 6.4693251534rem  +  5.1533742331vw , 12.75rem );
    }
}

@supports not (line-height: clamp( 7.5rem , 6.4693251534rem  +  5.1533742331vw , 12.75rem )) {
    .title {
      line-height: calc(7.5rem + 5.25 * (100vw - 20rem) / 101.875);
    }
}

@supports (font-size: clamp( 2.25rem , 1.8082822086rem  +  2.2085889571vw , 4.5rem )) {
    .title_small {
      font-size: clamp( 2.25rem , 1.8082822086rem  +  2.2085889571vw , 4.5rem );
    }
}

@supports not (font-size: clamp( 2.25rem , 1.8082822086rem  +  2.2085889571vw , 4.5rem )) {
    .title_small {
      font-size: calc(2.25rem + 2.25 * (100vw - 20rem) / 101.875);
    }
}

@supports (line-height: clamp( 2.5rem , 1.8374233129rem  +  3.3128834356vw , 5.875rem )) {
    .title_small {
      line-height: clamp( 2.5rem , 1.8374233129rem  +  3.3128834356vw , 5.875rem );
    }
}

@supports not (line-height: clamp( 2.5rem , 1.8374233129rem  +  3.3128834356vw , 5.875rem )) {
    .title_small {
      line-height: calc(2.5rem + 3.375 * (100vw - 20rem) / 101.875);
    }
}

@supports (padding-top: clamp( 5.625rem , 10.111196319rem  +  -3.6809815951vw , 9.375rem )) {
    .block-page {
      padding-top: clamp( 5.625rem , 10.111196319rem  +  -3.6809815951vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 5.625rem , 10.111196319rem  +  -3.6809815951vw , 9.375rem )) {
    .block-page {
      padding-top: calc(9.375rem + -3.75 * (100vw - 20rem) / 101.875);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 2.5115030675rem  +  3.0674846626vw , 6.25rem )) {
    .block-page__container {
      margin-bottom: clamp( 3.125rem , 2.5115030675rem  +  3.0674846626vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.5115030675rem  +  3.0674846626vw , 6.25rem )) {
    .block-page__container {
      margin-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 101.875);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.5069018405rem  +  1.8404907975vw , 3.75rem )) {
    .block-page__content {
      margin-bottom: clamp( 1.875rem , 1.5069018405rem  +  1.8404907975vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.5069018405rem  +  1.8404907975vw , 3.75rem )) {
    .block-page__content {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 101.875);
    }
}

@supports (width: clamp( 16.25rem , 14.0414110429rem  +  11.0429447853vw , 27.5rem )) {
    .body-slide-block {
      width: clamp( 16.25rem , 14.0414110429rem  +  11.0429447853vw , 27.5rem );
    }
}

@supports not (width: clamp( 16.25rem , 14.0414110429rem  +  11.0429447853vw , 27.5rem )) {
    .body-slide-block {
      width: calc(16.25rem + 11.25 * (100vw - 20rem) / 101.875);
    }
}

@supports (height: clamp( 27.5rem , 20.7515337423rem  +  33.7423312883vw , 61.875rem )) {
    .body-slide-block {
      height: clamp( 27.5rem , 20.7515337423rem  +  33.7423312883vw , 61.875rem );
    }
}

@supports not (height: clamp( 27.5rem , 20.7515337423rem  +  33.7423312883vw , 61.875rem )) {
    .body-slide-block {
      height: calc(27.5rem + 34.375 * (100vw - 20rem) / 101.875);
    }
}

@supports (width: clamp( 16.25rem , 14.0414110429rem  +  11.0429447853vw , 27.5rem )) {
    .body-slide-block__picture {
      width: clamp( 16.25rem , 14.0414110429rem  +  11.0429447853vw , 27.5rem );
    }
}

@supports not (width: clamp( 16.25rem , 14.0414110429rem  +  11.0429447853vw , 27.5rem )) {
    .body-slide-block__picture {
      width: calc(16.25rem + 11.25 * (100vw - 20rem) / 101.875);
    }
}

@supports (height: clamp( 27.5rem , 20.7515337423rem  +  33.7423312883vw , 61.875rem )) {
    .body-slide-block__picture {
      height: clamp( 27.5rem , 20.7515337423rem  +  33.7423312883vw , 61.875rem );
    }
}

@supports not (height: clamp( 27.5rem , 20.7515337423rem  +  33.7423312883vw , 61.875rem )) {
    .body-slide-block__picture {
      height: calc(27.5rem + 34.375 * (100vw - 20rem) / 101.875);
    }
}

@supports (width: clamp( 16.25rem , 14.0414110429rem  +  11.0429447853vw , 27.5rem )) {
    .item-body-slide {
      width: clamp( 16.25rem , 14.0414110429rem  +  11.0429447853vw , 27.5rem );
    }
}

@supports not (width: clamp( 16.25rem , 14.0414110429rem  +  11.0429447853vw , 27.5rem )) {
    .item-body-slide {
      width: calc(16.25rem + 11.25 * (100vw - 20rem) / 101.875);
    }
}

@supports (padding-left: clamp( 0.625rem , 0.2323619632rem  +  1.963190184vw , 2.625rem )) {
    .item-body-slide {
      padding-left: clamp( 0.625rem , 0.2323619632rem  +  1.963190184vw , 2.625rem );
    }
}

@supports not (padding-left: clamp( 0.625rem , 0.2323619632rem  +  1.963190184vw , 2.625rem )) {
    .item-body-slide {
      padding-left: calc(0.625rem + 2 * (100vw - 20rem) / 101.875);
    }
}

@supports (padding-right: clamp( 0.625rem , 0.2323619632rem  +  1.963190184vw , 2.625rem )) {
    .item-body-slide {
      padding-right: clamp( 0.625rem , 0.2323619632rem  +  1.963190184vw , 2.625rem );
    }
}

@supports not (padding-right: clamp( 0.625rem , 0.2323619632rem  +  1.963190184vw , 2.625rem )) {
    .item-body-slide {
      padding-right: calc(0.625rem + 2 * (100vw - 20rem) / 101.875);
    }
}

@supports (font-size: clamp( 1.75rem , 1.5414110429rem  +  1.0429447853vw , 2.8125rem )) {
    .item-body-slide__icone {
      font-size: clamp( 1.75rem , 1.5414110429rem  +  1.0429447853vw , 2.8125rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.5414110429rem  +  1.0429447853vw , 2.8125rem )) {
    .item-body-slide__icone {
      font-size: calc(1.75rem + 1.0625 * (100vw - 20rem) / 101.875);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 2.2661042945rem  +  4.2944785276vw , 7.5rem )) {
    .column-block__wrapper {
      padding-bottom: clamp( 3.125rem , 2.2661042945rem  +  4.2944785276vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.2661042945rem  +  4.2944785276vw , 7.5rem )) {
    .column-block__wrapper {
      padding-bottom: calc(3.125rem + 4.375 * (100vw - 20rem) / 101.875);
    }
}

@supports (font-size: clamp( 6.25rem , 5.513803681rem  +  3.6809815951vw , 10rem )) {
    .item-slide__picture {
      font-size: clamp( 6.25rem , 5.513803681rem  +  3.6809815951vw , 10rem );
    }
}

@supports not (font-size: clamp( 6.25rem , 5.513803681rem  +  3.6809815951vw , 10rem )) {
    .item-slide__picture {
      font-size: calc(6.25rem + 3.75 * (100vw - 20rem) / 101.875);
    }
}

@supports (font-size: clamp( 1.75rem , 1.6027607362rem  +  0.736196319vw , 2.5rem )) {
    .content-item__title {
      font-size: clamp( 1.75rem , 1.6027607362rem  +  0.736196319vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.6027607362rem  +  0.736196319vw , 2.5rem )) {
    .content-item__title {
      font-size: calc(1.75rem + 0.75 * (100vw - 20rem) / 101.875);
    }
}
}

@media (min-width: 61.9375em) and (max-width: 120em) {
@supports (padding-right: clamp( 0.625rem , -2.7085575888rem  +  5.382131324vw , 3.75rem )) {
    .header__logo img {
      padding-right: clamp( 0.625rem , -2.7085575888rem  +  5.382131324vw , 3.75rem );
    }
}

@supports not (padding-right: clamp( 0.625rem , -2.7085575888rem  +  5.382131324vw , 3.75rem )) {
    .header__logo img {
      padding-right: calc(0.625rem + 3.125 * (100vw - 61.9375rem) / 58.0625);
    }
}

@supports (padding-left: clamp( 0.625rem , -2.7085575888rem  +  5.382131324vw , 3.75rem )) {
    .header__icon {
      padding-left: clamp( 0.625rem , -2.7085575888rem  +  5.382131324vw , 3.75rem );
    }
}

@supports not (padding-left: clamp( 0.625rem , -2.7085575888rem  +  5.382131324vw , 3.75rem )) {
    .header__icon {
      padding-left: calc(0.625rem + 3.125 * (100vw - 61.9375rem) / 58.0625);
    }
}

@supports ((-moz-column-gap: clamp( 0.625rem , -0.0417115178rem  +  1.0764262648vw , 1.25rem )) or (column-gap: clamp( 0.625rem , -0.0417115178rem  +  1.0764262648vw , 1.25rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.625rem , -0.0417115178rem  +  1.0764262648vw , 1.25rem );
         -moz-column-gap: clamp( 0.625rem , -0.0417115178rem  +  1.0764262648vw , 1.25rem );
              column-gap: clamp( 0.625rem , -0.0417115178rem  +  1.0764262648vw , 1.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -0.0417115178rem  +  1.0764262648vw , 1.25rem )) or (column-gap: clamp( 0.625rem , -0.0417115178rem  +  1.0764262648vw , 1.25rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.625rem + 0.625 * (100vw - 61.9375rem) / 58.0625);
         -moz-column-gap: calc(0.625rem + 0.625 * (100vw - 61.9375rem) / 58.0625);
              column-gap: calc(0.625rem + 0.625 * (100vw - 61.9375rem) / 58.0625);
    }
}
}

@media (max-width: 61.99875em) and (min-width: 121.875em) {
  .menu__body::before {
    min-height: 6.625rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 121.875em) {
@supports (min-height: clamp( 6.625rem , 9.9148773006rem  +  -2.6993865031vw , 9.375rem )) {
    .menu__body::before {
      min-height: clamp( 6.625rem , 9.9148773006rem  +  -2.6993865031vw , 9.375rem );
    }
}

@supports not (min-height: clamp( 6.625rem , 9.9148773006rem  +  -2.6993865031vw , 9.375rem )) {
    .menu__body::before {
      min-height: calc(9.375rem + -2.75 * (100vw - 20rem) / 101.875);
    }
}
}

.webp .page__main{ background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 70, 86, 0.8)), to(rgba(214, 59, 72, 0.8))), url(../img/header-bg/image-title.webp) 50%/cover no-repeat; }

.webp .page__main{ background: -o-linear-gradient(top, rgba(255, 70, 86, 0.8) 0%, rgba(214, 59, 72, 0.8) 100%), url(../img/header-bg/image-title.webp) 50%/cover no-repeat; }

.webp .page__main{ background: linear-gradient(180deg, rgba(255, 70, 86, 0.8) 0%, rgba(214, 59, 72, 0.8) 100%), url(../img/header-bg/image-title.webp) 50%/cover no-repeat; }